{% extends "base.html" %}

{% block content %}
<h1 class="title">イベントを探す</h1>
<div class="columns is-multiline">
    {% for event in events %}
    <div class="column is-one-third">
        <div class="card">
            <div class="card-content">
                <p class="title is-4">{{ event.title }}</p>
                <p class="subtitle is-6">{{ event.date.strftime('%Y年%m月%d日 %H:%M') }}</p>
                <p>{{ event.location }}</p>
                <p>{{ event.subject }}</p>
            </div>
            <footer class="card-footer">
                <a href="{{ url_for('main.event_details', event_id=event.id) }}" class="card-footer-item">詳細を見る</a>
            </footer>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
